@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Client Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name) :
    @Html.DisplayFor(model => model.Name)</h3>

<h5>@Html.DisplayNameFor(model => model.Birthday) :
    @{
      string shortBirthday = Model.Birthday.ToShortDateString();
    }
    @Html.DisplayFor(model => shortBirthday)</h5>
<hr />

<h5>@Html.DisplayNameFor(model => model.ServiceHistory) :
    @Html.DisplayFor(model => model.ServiceHistory)</h5>

<br>
<p>@Html.ActionLink("Back to stylist list", "Index", "Stylists")</p>
<p>@Html.ActionLink("Edit client", "Edit", new { id = Model.ClientId })
<p>@Html.ActionLink("To client list", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>